*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
}
header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.logo-sony{
    width: 60px;
    height: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
    
.margin{
    margin: 0 15px;
}
    