*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.logo-sony{
    width: 60px;
    height: 30px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
    
.end{
    display: flex;
    
    align-items: center;
}
.margin{
    margin: 0 15px;
}
    

.box{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.sfondo{
    width: 100%;
    height: 650px;
    background-image: url(../img2/jumbo-bg.png);
}
.sfondo-1{
    width: 100%;
    height: 950px;
    background-image: url(../img2/it-takes-two-hero-banner-desktop.jpg);
    margin-top: 20px;
}

.returnal{
    width: 350px;
    height: 80px;
    margin-top: 200px;
    margin-left: 40px;
}
.it-takes{
    width: 350px;
    height: 80px;
    margin-top: 100px;
    margin-left: 40px;

}
h1{
    font-size: 80px;
    margin-top: 15px;
    margin-left: 40px;
    color: white;
} 
.dimensione{
    width: 450px;
    margin-top: 10px;
    margin-left: 40px;
}
p{
    color: white;
    font-size: 17px;
} 
.box-red{
    width: 150px;
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 35px;
    border: 1px solid red;
    border-radius: 30px;
    font-size: 20px;
}  
/* inizio boostrap */

.box-img{
    width: 100%;
    height: auto;
    margin: 30px 0;
    border-radius: 15px;
}
.centro{
    text-align: center;
}
.blu{
    color: blue;
}
    
.font{
    font-size: 60px;
}
.grey{
    color:gray;
}
h2{
    font-size: 50px;
}
.font-1{
    font-size: 20px;
    color: grey;
}
.box-blu{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 35px;
    border: 1px solid blue;
    border-radius: 30px;
    font-size: 20px;

}
.sfondo-3{
    background-color: #282828;
    width: 100%;
    
}
h3{
    color: white;
    margin-bottom: 15px ;
    font-size: 30px;
}
.white{
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
}
.white-1{
    color: white;
    font-size: 20px;
}
.sfondo-4{
    width: 100%;
    background-color: grey;
    margin-top: 45px;
}
    
    
.img-1{
    width: 100%;
    height: 150px;
    margin-top: 50px;
}
.mt-0 {
    margin-top: 25px !important;
  }
  .mt-1{
      margin-top: 100px !important;
  }
  .text-primary{
      $blue
  }
  .sfondo-5{
    width: 100%;
    height: 536.78px;
    background-color: blue;
    margin-top: 30px;
  }
  .sfondo-6{
    width: 100%;
    height: 600px;
    background-color: blue;
    margin-top: 30px;
}

.img-3{
    width: 60px;
    height: 30px;
    
}
ul{
    list-style: none;
    
    
}
.white-2{
    color: white;
    font-size: 15px;
    margin-top: 25px;
}
.img-4{
    width: 100px;
    height: 40px;
    margin-top: 150px;
}
.white-4{
    font-size: 10px;
    color: white;
}
   
    
    
    
    
 

    
    
    


    

    