*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 100%;
}
header{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}
.logo-sony{
    width: 60px;
    height: 30px;
}

.start{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

    
.margin{
    margin: 0 15px;
}
.end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.sfondo{
    width: 100%;
    height: 500px;
    background-image: url(../img2/jumbo-bg.png);
}
    